<h1>NgRx Signal Store Todo App</h1>

<!-- <label for="todos">Enter a TODO and press Enter:</label>
<input id="todos" name="todos" type="text" #todoInput />

<div #filter>
    <button type="button" value="all">All</button>
    <button type="button" value="pending">Pending</button>
    <button type="button" value="Completed">Completed</button>
</div> -->


<!-- @for(todo of Store.todos(); track todo.id; let index = $index)
{
<div>
    <button type="button">Delete</button>
    <span>{{todo.title}}</span>
</div>
} -->

